@import url('https://fonts.googleapis.com/css?family=Roboto|Roboto+Condensed');

.header {
    height: 200px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.site-info {
    margin: 15px 80px;
    display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: flex-end;
}

.site-name {
    height: 50px;
    width: 100%;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: bold;
    font-size: 30px;
    text-align: left;
    margin-left: 8px;
}

.nav-section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0px 80px;
}

.nav-link {
    text-decoration: none;
    color: black;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 16px;
    margin: 12px;
}

.phoneNumber {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 20px;
}


.welcome {
    width: 100vw;
    height: 120vh;
    background-image: url('../../assets/family.webp');
    background-position: left center;
    display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

.intro-container {
    height: 50%;
    width: 65%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.intro {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 88px;
    color: #181818;
}

.intro-paragraph {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    color: white;
}

.learn-more {
    text-decoration: none;
    display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
    width: 110px;
    height: 50px;
    text-align: center;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 16px;
    background-color: white;
    color: black;
    border-radius: 3px;
}


.steps {
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 80px;
}

.step {
    width: 301px;
    height: 670px;
    background-color: #005a93;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.step-info {
    height: 465px;
    width: 70%;
    font-family: 'Roboto Condensed', sans-serif;
    color: white;
    display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.steps-header {
    font-size: 32px;
}

.steps-paragraph {
    font-size: 16px;
    margin-top: 35px;
}



.how-it-works {
    width: 100%;
    height: 55vh;
    font-family: 'Roboto Condensed', sans-serif;
    background-color: #005a93;
    display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
}

.faq-icon {
    height: 55px;
}

.faq-paragraph {
    font-size: 18px;
    width: 58%;
    color: white;
}

.faq-button {
    text-decoration: none;
    display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
    width: 110px;
    height: 45px;
    text-align: center;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 16px;
    background-color: white;
    color: black;
    border-radius: 3px;
}



.about {
    height: 120vh;
    background-color: #0086ab;
    padding-top: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about-pic {
    width: 95%;
}

.about-container {
    width: 75%;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.about-info {
    width: 55%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.about-header {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 38px;
    font-weight: bold;
    margin-top: 10px;
}

.about-paragraph {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 16px;
    margin-top: 10px;
    margin-bottom: 20px;
}


.home-contact {
    width: 100%;
    height: 120vh;
    background-color: #005a93;
    display: flex;
    justify-content: space-around;
    align-items: center;
}



.footer {
    height: 20vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    font-family: 'Roboto Condensed', sans-serif;
}

.footer1 {
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.footer-contact {
    font-size: 25px;
}

.footer2 {
    height: 20%;
    background-color: #181818;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}