@import url('https://fonts.googleapis.com/css?family=Roboto|Roboto+Condensed');


.ContactForm {
    font-family: 'Roboto Condensed', sans-serif;
    width: 70%;
    height: 80%;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.contact-pic {
    height: 80%;
    margin-left: 15px;
}

input {
    background-color: #005a93;
}

.prompt {
    font-size: 40px;
    color: black;
}

.prompt2 {
    font-size: 20px;
    margin-top: 20px;
}

.prompt3 {
    font-size: 16px;
    margin: 10px;
}

.contact-prompt {
    display: flex;
    flex-direction: column;
    
}

.input-boxes {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    color: white;
    margin-top: 25px;
}

::placeholder {
    color: white;
}

.name-input {
    height: 32px;
    width: 45%;
    margin-right: 10px;
    color: white;
    font-size: 18px;
    font-family: 'Roboto Condensed', sans-serif;
    padding: 5px;
}

.email-input {
    height: 32px;
    width: 45%;
    color: white;
    font-size: 18px;
    font-family: 'Roboto Condensed', sans-serif;
    padding: 5px;
}

.subject-input {
    height: 32px;
    width: 94%;
    color: white;
    font-size: 18px;
    font-family: 'Roboto Condensed', sans-serif;
    padding: 5px;
    margin-top: 15px;
}

.message-input {
    height: 200px;
    width: 94%;
    color: white;
    font-size: 18px;
    font-family: 'Roboto Condensed', sans-serif;
    padding: 5px;
    margin-top: 15px;
}

.submit-button {
    text-decoration: none;
    display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
    width: 110px;
    height: 45px;
    text-align: center;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 16px;
    background-color: white;
    color: black;
    border-radius: 3px;
    margin-top: 15px;
}