@import url('https://fonts.googleapis.com/css?family=Roboto|Roboto+Condensed');

.solution-welcome {
    width: 100vw;
    height: 75vh;
    position: relative;
    background: #181818;
    overflow: hidden;
    display: flex;
	flex-direction: column;
    justify-content: center;
    align-items: baseline;
}

.solution-welcome:before {
    content: ' ';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0.6;
    background-image: url('../../assets/solution-header.webp');
    background-position: top center;
    display: flex;
	flex-direction: row;
	justify-content: center;
    align-items: center;
    color: white;
}

.solution-welcome span {
    z-index: 2;
    position: relative;
    font-family: 'Roboto Condensed', sans-serif;
}

.solution-preheader {
    font-size: 20px;
    padding-left: 80px;
    color: #FFF;
}
.solution-preheader2 {
    font-size: 32px;
    padding-left: 80px;
    color: #FFF;
}

.solution-header {
    font-size: 88px;
    padding-left: 80px;
    color: #181818;
}

.solution-body {
    width: 100%;
    background-color: #0086ab;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content {
    background-color: white;
    height: 85%;
    width: 70%;
    font-family: 'Roboto Condensed', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-bottom: 40px;
    margin-top: 40px;
}

.solution-info {
    padding-left: 80px;
    padding-right: 80px;
    margin-top: 25px;
}

.body-header {
    font-size: 36px;
    font-weight: bold;
}

.subheader {
    margin-top: 25px;
    font-size: 20px;
}

p {
    font-size: 16px;
}

.list-header {
    font-size: 35px;
    font-weight: bold;
}

.list {
    font-family: 'Roboto Condensed', sans-serif;
    text-align: left;
    margin-top: 25px;
    list-style: none;
}

.list-item {
    font-size: 25px;
    padding: 3px;
}

.answer {
    padding-left: 15px;
    padding-bottom: 20px;
    font-size: 16px;
}

.solution-contact {
    width: 100%;
    height: 120vh;
    background-color: #005a93;
    display: flex;
    justify-content: space-around;
    align-items: center;
}